<div class="border mx-3 col-sm-10 col-xl-6 p-3 border-dark">
  <label for="bookname" class="col-3">BookName</label><Input class="col-6" @type="text" @id="bookname" @value={{bookName}}/>
  <label for="author" class="col-3">Author</label><Input class="col-6" @type="text" @id="author" @value={{author}}/>
  <label for="year" class="col-3">YearOfPublication</label><Input class="col-6" @type="number" @id="year" @value={{yearOfPublication}}/>
  <label for="rate" class="col-3">Amount</label><Input class="col-6" @type="number" @id="rate" @value={{rate}}/>
  <button class="self-align-center col-3" {{action "addbook"}}>Submit</button>
</div>
{{yield}}